:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/

    --cor-sobremi: rgb(182, 202, 228);
    --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-ultimo: #bdb6b6;
    --cor-letras:  #0f7fe9;
}

*{

    box-sizing: border-box;
    background-color: #F5F5F5;
    font-family: 'Raleway';
    margin: 0;
    line-height: 1;

}


ol, ul,li {
    display: flex;
    flex-flow: wrap;
    list-style: none;

}

a{
    text-decoration: none;
}
a:hover{

   text-decoration: none;
    color: var(--cor-letras);
    font-weight: bold;

}
h2,
h3{
   background-color:var(#f5f5f5);
   color:var(--cor-de-link);

}

h1,
h4,
h5{
    background-color: var(--cor-sobremi);
    color: var(--cor-de-link);
    border: none;
    outline: none;

}
p,
input,
button,
textarea{
    background: #F5F5F5;
    color: var(--cor-ultimo);
    border: none;
}
